<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.selfstudyroom.mapper.AdminsMapper">

    <select id="findAdmins" parameterType="com.test.selfstudyroom.entity.Admins" resultType="com.test.selfstudyroom.entity.Admins">
        select * from admins where user_name = #{user_name} and passwords = #{passwords}
    </select>
</mapper>